region              = ""
subnet_ids          = ["subnet-xxx", "subnet-yyy"]
security_group_ids  = ["sg-zzz"]
dbhost=""
dbuser=""
dbpassword=""
database=""

# API Gateway custom domain name
domain_name = "data-api1.ashevillenc.gov"

# Name of the API Gateway TLS Certificate (*.ashevillenc.gov)
certificate_arn = "arn:aws:acm:us-east-1:518970837364:certificate/ae5d78be-9311-44cc-8d29-41a809902dbd"

# If true, graphql introspection and playground set on
debug=true

# Name of Lambda
prog_name = "my_lambda_name"