[Service]
WorkingDirectory=/opt/dev-simplicity-graphql-server
ExecStart=/usr/bin/node /opt/dev-simplicity-graphql-server/server.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=devsimplicity-gql-2
User=apiadmin
Group=apiadmin
Environment=NODE_ENV=production PORT=5005

[Install]
WantedBy=multi-user.target

