[Service]
WorkingDirectory=/opt/simplicity-graphql-server
ExecStart=/usr/bin/node /opt/simplicity-graphql-server/server.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=simplicity-gql-1
User=apiadmin
Group=apiadmin
Environment=NODE_ENV=production PORT=5000

[Install]
WantedBy=multi-user.target

